<div class="footer">
  <div class="Content">
    <p style="color: white;">Find me on social media.</p>
    <div class="Social-media">
      <div class="icon">
        <a href="https://www.linkedin.com/in/naveenkumar-naveenkumar-99811034a?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><i class="fa-brands fa-linkedin"></i></a>
      </div>
      <div class="icon">
        <a href="https://www.facebook.com/profile.php?id=100008649151716&mibextid=ZbWKwL"><i class="fa-brands fa-square-facebook"></i></a>
      </div>
      <div class="icon">
        <a href="https://www.instagram.com/naveenkumar001996?igsh=dHVxdWNtbnJ0ZnVo"><i class="fa-brands fa-square-instagram"></i></a>
      </div>
    </div>
  </div>
</div>
