<div class="Background">
    <div class="Profiledtls">
        <div>
            <img class="ProfilePicture" src="assets/Naveenkumar.jpg" alt="">
            <div class="Profilename">
                <h2 >{{UserName}}</h2>
            </div>
        </div>
        <div class="icon-text">
           <i class="fa fa-briefcase icon" ></i>Junior Software Engineer
        </div>
        <div class="icon-text">
            <i class="fa fa-home icon" ></i>Cuddalore,Tamilnadu, India 608302 
         </div>
         <div class="icon-text">
            <i class="fa fa-envelope icon" ></i>{{email}}
         </div>
         <div class="icon-text">
            <i class="fa fa-phone icon" ></i>+91 9751199283
         </div>
         <div class="icon-text">
            <i class="fa fa-phone icon" ></i>+91 8122477388 
         </div>
         <div class="Self_details Skills">
            <h4><i class="fa fa-asterisk icon"><span style="margin-left: 5px;color: rgb(65, 59, 59);">Skills</span></i></h4>
            <div class="Self_details">Asp.net core web api
                <div class="Progres_bar_Container Self_details">
                    <div class="Progress_bar" [style.width.%]="progressValue[0]">{{progressValue[0]}}</div>
                </div>
            </div>
            <div class="Self_details">DBMS(Mssql)
                <div class="Progres_bar_Container Self_details">
                    <div class="Progress_bar" [style.width.%]="progressValue[1]">{{progressValue[1]}}</div>
                </div>
            </div>
            <div class="Self_details">Asp.net Mvc
                <div class="Progres_bar_Container Self_details">
                    <div class="Progress_bar" [style.width.%]="progressValue[2]">{{progressValue[2]}}</div>
                </div>
            </div>
            <div class="Self_details">Angular
                <div class="Progres_bar_Container Self_details">
                    <div class="Progress_bar" [style.width.%]="progressValue[3]">{{progressValue[3]}}</div>
                </div>
            </div>
         </div>
         <div class="Self_details Languages">
            <h4><i class="fa fa-globe icon"><span style="margin-left: 5px;color: rgb(65, 59, 59);">Languages</span></i></h4>
            <div class="Self_details">Tamil
                <div class="Progres_bar_Container Self_details">
                    <div class="Progress_bar" [style.width.%]="progressValue[4]">{{progressValue[4]}}</div>
                </div>
            </div>
            <div class="Self_details">English
                <div class="Progres_bar_Container Self_details">
                    <div class="Progress_bar" [style.width.%]="progressValue[5]">{{progressValue[5]}}</div>
                </div>
            </div>
         </div>
    </div>
    <div class="Workdetails">
        <div class="Experience">
           <h1><i class="fa fa-suitcase icon"><span class="main_text">Work Experience</span></i></h1>
            <div>
                <p class="main_text">Back-end developer<p>
                <i class="fa fa-calendar icon"><span style="margin: 5px;">2022 - <span class="textButtonstyle">Current</span></span></i>
                <p><b> • Backend Developer (ASP.NET Core Web API, C#): </b>Developed and maintained scalable and efficient web services using ASP.NET Core to handle business logic and integrate with front-end applications via REST APIs.</p>
                <p><b> • ASP.NET MVC (Debugging & Support): </b>Worked extensively with legacy ASP.NET MVC applications, providing debugging support, and resolving technical issues.</p>
                <p><b> • PHP Web Services: </b>Developed simple web services using PHP to integrate third-party tools and systems, enabling smooth data exchange and communication.</p>
                <p><b> • API Design & Integration: </b>Designed RESTful APIs and integrated them with external services and databases, ensuring efficient data handling, and proper API documentation using Swagger.</p>
                <p><b> • Collaboration: </b>Collaborated with front-end developers and other team members to design, implement, and deploy web solutions. Participated in sprint planning and code reviews.</p>
                    
            </div>
            <!-- <div> 
                <p class="main_text">Web Developer / something.com</p>
                <i class="fa fa-calendar icon">Mar 2012 - Dec 2014</i>
                <p>Consectetur adipisicing elit. Praesentium magnam consectetur vel in deserunt aspernatur est reprehenderit sunt hic. Nulla tempora soluta ea et odio, unde doloremque repellendus iure, iste.</p>
            </div>
            <div>
                <p class="main_text">Graphic Designer / designsomething.com</p>
                <i class="fa fa-calendar icon">Jun 2010 - Mar 2012</i>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div> -->
        </div>
        <div class="Education">
            <h1><i class="fa fa-suitcase icon"><span class="main_text">Education</span></i></h1>
            <div>
                <p class="main_text">MRK Institute of technoledge</p>
                <i class="fa fa-calendar icon"><span style="margin: 5px;">2013 - 2017</span></i>
                <p>BE - Electronics and communication engineering</p>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>

