<div class="Background">
    <div class="Profiledtls">
        <div>
            <img class="ProfilePicture" src="assets/Ben10-herotime.webp" alt="">
            <div class="Profilename">
                <h2 >{{UserName}}</h2>
            </div>
        </div>
        <div class="icon-text">
           <i class="fa fa-briefcase icon" ></i>Designer
        </div>
        <div class="icon-text">
            <i class="fa fa-home icon" ></i>London, UK
         </div>
         <div class="icon-text">
            <i class="fa fa-envelope icon" ></i>{{email}}
         </div>
         <div class="icon-text">
            <i class="fa fa-phone icon" ></i>1224435534
         </div>
         <div class="Self_details Skills">
            <i class="fa fa-asterisk icon"><span class="main_text">Skills</span></i>
            <div class="Self_details">Adobe Photoshop
                <div class="Progres_bar_Container Self_details">
                    <div class="Progress_bar" [style.width.%]="progressValue[0]"></div>
                </div>
            </div>
            <div class="Self_details">Photography
                <div class="Progres_bar_Container Self_details">
                    <div class="Progress_bar" [style.width.%]="progressValue[1]"></div>
                </div>
            </div>
            <div class="Self_details">Illustrator
                <div class="Progres_bar_Container Self_details">
                    <div class="Progress_bar" [style.width.%]="progressValue[2]"></div>
                </div>
            </div>
            <div class="Self_details">Media
                <div class="Progres_bar_Container Self_details">
                    <div class="Progress_bar" [style.width.%]="progressValue[3]"></div>
                </div>
            </div>
         </div>
         <div class="Self_details Languages">
            <i class="fa fa-globe icon"><span class="main_text">Languages</span></i>
            <div class="Self_details">English
                <div class="Progres_bar_Container Self_details">
                    <div class="Progress_bar" [style.width.%]="progressValue[4]"></div>
                </div>
            </div>
            <div class="Self_details">Spanish
                <div class="Progres_bar_Container Self_details">
                    <div class="Progress_bar" [style.width.%]="progressValue[5]"></div>
                </div>
            </div>
            <div class="Self_details">German
                <div class="Progres_bar_Container Self_details">
                    <div class="Progress_bar" [style.width.%]="progressValue[6]"></div>
                </div>
            </div>
         </div>
    </div>
    <div class="Workdetails">
        <div class="Experience">
           <i class="fa fa-suitcase icon"><span>Work Experience</span></i>
            <div>
                <p class="main_text">Front End Developer / w3schools.com<p>
                <i class="fa fa-calendar icon">Jan 2015 - <span style="background-color: rgb(32, 146, 95);">Current</span></i>
                <p>Lorem ipsum dolor sit amet. Praesentium magnam consectetur vel in deserunt aspernatur est reprehenderit sunt hic. Nulla tempora soluta ea et odio, unde doloremque repellendus iure, iste.</p>
            </div>
            <div> 
                <p class="main_text">Web Developer / something.com</p>
                <i class="fa fa-calendar icon">Mar 2012 - Dec 2014</i>
                <p>Consectetur adipisicing elit. Praesentium magnam consectetur vel in deserunt aspernatur est reprehenderit sunt hic. Nulla tempora soluta ea et odio, unde doloremque repellendus iure, iste.</p>
            </div>
            <div>
                <p class="main_text">Graphic Designer / designsomething.com</p>
                <i class="fa fa-calendar icon">Jun 2010 - Mar 2012</i>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
        </div>
        <div class="Education">
            <div>
                <h2>W3Schools.com</h2>
                <i class="fa fa-calendar icon">Forever</i>
                <p>Web Development! All I need to know in one place</p>
            </div>
            <div>
                <h2>London Business School</h2>
                <i class="fa fa-calendar icon">2013 - 2015</i>
                <p>Master Degree</p>
            </div>
            <div>
                <h2>School of Coding</h2>
                <i class="fa fa-calendar icon">2010 - 2013</i>
                <p>Bachelor Degree</p>
            </div>
        </div>
    
    </div>
</div>
<app-footer></app-footer>

